{{ form_start(form) }}

    <div class="form-rows">
        <div class="form-row">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class="errors">
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="form-row">
            {{ form_label(form.code) }}
            {{ form_widget(form.code) }}
            <div class="errors">
                {{ form_errors(form.code) }}
            </div>
        </div>
        <div class="form-row">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            <div class="errors">
                {{ form_errors(form.description) }}
            </div>
        </div>
    </div>

    <button class="btn">{{ button_label|default('Сохранить') }}</button>
{{ form_end(form) }}
