{% extends 'base.html.twig' %}

{% block title %}Редактировать курс - {{ course.name }} / Study-on{% endblock %}

{% block body %}
    <h1 class="m-3">Редактировать курс - {{ course.name }}</h1>

    <div class="form-wrapper p-3">
        {{ include('course/_form.html.twig') }}
    </div>

    <hr>

    <div class="buttons px-3 mb-3">
        <a class="btn btn-primary me-2" href="{{ path('app_course_index') }}">Назад к списку курсов</a>
        {{ include('course/_delete_form.html.twig') }}
    </div>

{% endblock %}
