{{ form_start(form) }}
{#    {{ form_widget(form) }} #}

    <div class="form-rows">
        <div class="form-row">
            {{ form_row(form.name, {'label': 'Наименование'}) }}
        </div>
        <div class="form-row">
            {{ form_row(form.content, {'label': 'Содержимое урока'}) }}
        </div>
        <div class="form-row">
            {{ form_row(form.sort, {'label': 'Порядок сортировки'}) }}
        </div>
    </div>

    <button class="btn">{{ button_label|default('Сохранить') }}</button>
    {{ form_row(form.course_id, {'value': courseId}) }}

{{ form_end(form) }}
