{{ form_start(form) }}
{#    {{ form_widget(form) }} #}

    <div class="form-rows">
        <div class="form-row">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
            <div class="errors">
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="form-row">
            {{ form_label(form.content) }}
            {{ form_widget(form.content) }}
            <div class="errors">
                {{ form_errors(form.content) }}
            </div>
        </div>
        <div class="form-row">
            {{ form_label(form.sort) }}
            {{ form_widget(form.sort) }}
            <div class="errors">
                {{ form_errors(form.sort) }}
            </div>
        </div>
    </div>

    <button class="btn">{{ button_label|default('Сохранить') }}</button>
    {{ form_widget(form.course) }}

{{ form_end(form) }}
