{% extends 'base.html.twig' %}

{% block title %}Редактировать урок - {{ lesson.name }} / {{ lesson.course.name }} / Study-on{% endblock %}

{% block body %}
    <h1>Редактировать урок - {{ lesson.name }} </h1>

    {{ include('lesson/_form.html.twig', {'courseId': lesson.course.id}) }}

    <hr>

    <a class="btn" href="{{ path('app_course_show', {'id': lesson.course.id}) }}">Назад к курсу</a>
    {{ include('lesson/_delete_form.html.twig') }}
{% endblock %}
