{% extends 'base.html.twig' %}

{% block title %}{{ lesson.name }} / {{ lesson.course.name }} / Study-on{% endblock %}

{% block body %}

    <div class="wrapper m-3">
        <h1 class="mb-3">{{ lesson.name }}</h1>

        <h3 class="mb-3"><a href="{{ path('app_course_show', {'id': lesson.course.id}) }}">Курс: {{ lesson.course.name }}</a></h3>

        <div class="content mb-3">{{ lesson.content }}</div>
    </div>

    <hr>

    <div class="buttons px-3 mb-3">
        <a class="btn btn-primary me-2" href="{{ path('app_course_show', {'id': lesson.course.id}) }}">Назад к курсу</a>
        <a class="btn btn-primary me-2" href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">Редактировать урок</a>
        {{ include('lesson/_delete_form.html.twig') }}
    </div>


{% endblock %}
